<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sdkd.ccse.jsqles.mapper.ExercisebookMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        exerbookid, quesid, curriculaid, userid, answer, posttime, starttime, eval, postext, resultset
    </sql>

    <!-- 返回exerbookid的insert -->
    <insert id="insertAndGetId" parameterType="Exercisebook" useGeneratedKeys="true" keyProperty="exerbookid">

        insert into Exercisebook(quesid, curriculaid, userid, answer, posttime, starttime, eval, postext, resultset)
        values (#{quesid},#{curriculaid},#{userid},#{answer},#{posttime},#{starttime},#{eval},#{postext},#{resultset})

    </insert>


    <select id="selectQuestionSolvedRatio" resultType="Map">
        select ratio, count(userid) stucount, count(userid)/ 200 sturatio
        from (
        select userid ,
        case
        when count(distinct quesid)/167 = 1 then 1
        when count(distinct quesid)/167 between 0.9 and 1 then 0.9
        when count(distinct quesid)/167 between 0.7 and 0.9 then 0.7
        when count(distinct quesid)/167 between 0.5 and 0.7 then 0.5
        when count(distinct quesid)/167 between 0.3 and 0.5 then 0.3
        when count(distinct quesid)/167 between 0 and 0.3 then 0.0

        end ratio

        from exercisebook eb
        where eb.eval = 'solved'
        group by userid
        ) s
        group by ratio
        order by ratio desc
    </select>

</mapper>